.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    background-color: white;
    font-size: 0.9em;
    min-width: 600px;
}

.content-table thead tr {
    background-color: #0a1024;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 4px solid #0a1024;
}